
<h3>Pipeline Parameters:</h3>
<table>
  <tr><td>Max. alignnment mismatches: &nbsp;</td>
  <td><%= radio_button :post_pipeline, :max_mismatches, 1, {:checked=>true} %>
  <%= label_tag :max_mismatches, 1  %>

  <%= radio_button :post_pipeline, :max_mismatches, 2 %>
  <%= label_tag(:max_mismatches, 2) %>

  <%= radio_button :post_pipeline, :max_mismatches, 3 %>
  <%= label_tag(:max_mismatches, 3) %>
</td></tr>
<tr>
  <td><%= label_tag :run_type, 'Run Type' %></td>
  <td><%= select('post_pipeline','run_type',PostPipeline.type_names.as_indexed_pairs) %></td>
</tr>

<tr>
  <td><%= label_tag :reference_genome, 'Reference Genome' %></td>
  <td><%= select('post_pipeline','reference_genome_id', ReferenceGenome.all.map {|rg| [rg.description, rg.id]}) %></td>
</tr>
</table>
